<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Réalisations</title>
</head>
<body>
    <h1>Nos Réalisations</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="realisation : ${realisations}">
                <td th:text="${realisation.idRealisation}"></td>
                <td th:text="${realisation.titre}"></td>
                <td th:text="${realisation.description}"></td>
                <td th:text="${#temporals.format(realisation.datePublication, 'dd/MM/yyyy HH:mm')}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>